## Logs for component with component_uid: {{ component_uid }}
environment_uid: {{ environment_uid }}
project_uid: {{ project_uid }}

Timestamp | Log Level | Message
--- | --- | ---
{% for log in logs -%}
{{ log.timestamp }} | {% if log.logLevel != "UNDEFINED" %}{{ log.logLevel }}{% else %}INFO{% endif %} | {{ log.log }}
{% endfor -%}
